* {
    margin: 0;
    padding: 0;

}

:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: orange;
    --icons-color: rgb(152, 187, 201);
    --bodybackground-color: lightgray;
}

body {
    font-family: 'STIX Two Math';
    background-color: var(--bodybackground-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    font-family: 'STIX Two Math';
}

.navbar_logo {
    padding: 10px;
}

.navbar_logo i {
    color: var(--accent-color);
    padding-left: 0;
    
}



.navbar a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar_menu {
    list-style: none;
    display: flex;
    margin-top: 0;
    padding-left: 0;
    
}

.navbar_menu li {
    padding: 8px 30px;
}

.navbar_icons {
    list-style: none;
    display: flex;
    color: var(--icons-color);
    margin: 0;
    padding-left: 0;
    

}

.navbar_icons li {
    padding: 8px 12px;
    margin: 0;
}

.navbar_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 3px;
}

.navbar_toggleBtn {
    color : var(--accent-color);
    position: absolute;
    right: 15px;
    font-size: 20px;
    display: none;
    top: 15px;
}







@media screen and (max-width:700px) {

    .navbar {
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
    }

    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        display: none;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;

    }

    .navbar_icons {
        justify-content: center;
        width: 100%;
        display: none;
    }
    .navbar_toggleBtn {
        display: block;
    }
    
/* end */
} 
